필터링

In [11]:
import seaborn as sns

titanic =sns.load_dataset('titanic')

#나이가 10대인 승객만 따로 선택
mask1 = (titanic.age<=10) & (titanic.age<20)
df_teenage = titanic.loc[mask1, :]
print(df_teenage.head())

#나이가 10세 미만이고 여성인 승객만 따로 선택
mask2 = (titanic.age <10) & (titanic.sex =='female')
df_female_under10 = titanic.loc[mask2, :]
print(df_female_under10.head())

#나이가 10세 미만 또는 60세 이상인 승객의 age, sex, alone 열만 선택
mask3 = (titanic.age<10) | (titanic.age >=60)
df_under10_morethan60 = titanic.loc[mask3, ['age','sex','alone']]
print(df_under10_morethan60.head())

    survived  pclass     sex  age  sibsp  parch     fare embarked   class  \
7          0       3    male  2.0      3      1  21.0750        S   Third
10         1       3  female  4.0      1      1  16.7000        S   Third
16         0       3    male  2.0      4      1  29.1250        Q   Third
24         0       3  female  8.0      3      1  21.0750        S   Third
43         1       2  female  3.0      1      2  41.5792        C  Second

      who  adult_male deck  embark_town alive  alone
7   child       False  NaN  Southampton    no  False
10  child       False    G  Southampton   yes  False
16  child       False  NaN   Queenstown    no  False
24  child       False  NaN  Southampton    no  False
43  child       False  NaN    Cherbourg   yes  False
     survived  pclass     sex  age  sibsp  parch     fare embarked   class  \
10          1       3  female  4.0      1      1  16.7000        S   Third
24          0       3  female  8.0      3      1  21.0750        S   Third
43          1       2  female  3.0      1      2  41.5792        C  Second
58          1       2  female  5.0      1      2  27.7500        S  Second
119         0       3  female  2.0      4      2  31.2750        S   Third

       who  adult_male deck  embark_town alive  alone
10   child       False    G  Southampton   yes  False
24   child       False  NaN  Southampton    no  False
43   child       False  NaN    Cherbourg   yes  False
58   child       False  NaN  Southampton   yes  False
119  child       False  NaN  Southampton    no  False
     age     sex  alone
7    2.0    male  False
10   4.0  female  False
16   2.0    male  False
24   8.0  female  False
33  66.0    male   True

In [13]:
import seaborn as sns
import pandas as pd

titanic =sns.load_dataset('titanic')

#IPython 디스플레이 설정 변경 - 출력할 최대 열의 개수
pd.set_option('display.max_columns', 10)

#함꼐 탑승한 형제 또는 배우자 수가 3,4,5인 승객만 따로 추출 - 불린 인덱싱
mask3 = titanic['sibsp'] ==3
mask4 = titanic['sibsp'] ==4
mask5 = titanic['sibsp'] ==5
df_boolean = titanic[mask3 | mask4 | mask5]
print(df_boolean.head())

    survived  pclass     sex   age  sibsp  ...  adult_male  deck  embark_town  \
7          0       3    male   2.0      3  ...       False   NaN  Southampton
16         0       3    male   2.0      4  ...       False   NaN   Queenstown
24         0       3  female   8.0      3  ...       False   NaN  Southampton
27         0       1    male  19.0      3  ...        True     C  Southampton
50         0       3    male   7.0      4  ...       False   NaN  Southampton

   alive  alone
7     no  False
16    no  False
24    no  False
27    no  False
50    no  False

[5 rows x 15 columns]

In [14]:
#isin() 메소드 활용하여 동일한 조건으로 추출

isin_filter = titanic['sibsp'].isin([3,4,5])
df_isin = titanic[isin_filter]
print(df_isin.head())

    survived  pclass     sex   age  sibsp  ...  adult_male  deck  embark_town  \
7          0       3    male   2.0      3  ...       False   NaN  Southampton
16         0       3    male   2.0      4  ...       False   NaN   Queenstown
24         0       3  female   8.0      3  ...       False   NaN  Southampton
27         0       1    male  19.0      3  ...        True     C  Southampton
50         0       3    male   7.0      4  ...       False   NaN  Southampton

   alive  alone
7     no  False
16    no  False
24    no  False
27    no  False
50    no  False

[5 rows x 15 columns]