In [1]:
import seaborn as sns

In [3]:
df = sns.load_dataset('titanic')

In [6]:
#for 반복문으로 각 열의 NaN개수 계산하기

missing_df = df.isnull()
for col in missing_df.columns:
    missing_count = missing_df[col].value_counts()
    
    try :
        print(col, ':', missing_count[True]) #NaN 값이 있으면 개수 출력
        
    except :
        print(col, ':', 0) #NaN 값이 없으면 0개 출력

survived : 0
pclass : 0
sex : 0
age : 177
sibsp : 0
parch : 0
fare : 0
embarked : 2
class : 0
who : 0
adult_male : 0
deck : 688
embark_town : 2
alive : 0
alone : 0

deck 열의 데이터가 누락이 많이 되있다는 것을 알 수 있다. 그러면 데이터를 삭제하여 분석에서 제외

In [7]:
#NaN 값이 500개 이상인 열을 모두 삭제 - deck 열 891개 중 688개의 NaN 값)

df_thresh = df.dropna(axis=1, thresh=500)
print(df_thresh.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

In [9]:
#age 열에 나이 데이터가 없는 모든 행 삭제 - age 열(891개 중 177개의 NaN 값)

df_age = df.dropna(subset =['age'], how='any', axis=0)
print(len(df_age))

714